@import "src/assets/tailwind";

input {
  background-color: transparent;
  outline: none;
}

.theme-transition > * {
  transition: color, background-color $theme-transition;
}

.appear-enter-active,
.appear-leave-active {
  transition: opacity .4s;
}

.appear-enter,
.appear-leave-to {
  opacity: 0;
}
